
.scene {
  position: relative;
  width: 300px;
  height: 120px;
  image-rendering: pixelated;
  overflow: hidden;
}
.bookshelf {
  position: absolute;
  left: -26px;
  bottom: 10px;
  width: 100px;
  height: 100px;
}
.desk {
  position: absolute;
  right: -10px;
  bottom: 10px;
  width: 100px;
  height: 100px;
}
.aiRobo {
  position: absolute;
  left: 80px;
  bottom: 0;
  width: 100px;
  height: 100px;
  image-rendering: pixelated;
}
.eye {
  position: absolute;
  left: 80px;
  bottom: 0;
  width: 100px;
  height: 100px;
  z-index: 100;
  animation: eyeMove 2s infinite;
}
.librarian {
  position: absolute;
  left: 80px;
  bottom: 0;
  width: 100px;
  height: 100px;
  animation: walk 3s linear infinite,
    pop 0.5s linear infinite;
}
@keyframes eyeMove {
  0%{transform: translateX(0);}
  25%{transform: translateX(2px);}
  50%{transform: translateX(0);}
  75%{transform: translateX(-1px);}
  100%{transform: translateX(0);}

}
@keyframes pop {
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-2px);
  }
}
