
.scene {
  position: relative;
  width: 300px;
  height: 120px;
  image-rendering: pixelated;
  overflow: hidden;
}
.bookshelf {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 100px;
  height: 100px;
}
.desk {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 100px;
  height: 100px;
}
.librarian {
  position: absolute;
  left: 80px;
  bottom: 0;
  width: 100px;
  height: 100px;
  animation: walk 3s linear infinite,
    pop 0.5s linear infinite;
}
@keyframes walk {
  0%{
    left:80px;
    content: url("/image/librarian_l.png");
  }
  5%{
    left:80px;
    content: url("/image/librarian_r.png");
  }
  50%{
    left:110px;
    content: url("/image/librarian_r.png");
  }
  55%{
    left:110px;
    content: url("/image/librarian_l.png");
  }
  100%{
    left:80px;
    content: url("/image/librarian_l.png");
  }
}
@keyframes pop {
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-2px);
  }
}
